{% extends "base.html" %}
{% load i18n staticfiles %}

{% block body %}

<a href="" class="btn btn-success mb-5" style="width:250px">Publicar Articulo</a>

<ul class="list-unstyled">
    {% for item in items %}
    <li class="media mb-2">
        <img class="d-flex mr-3" src="{{ item.thumbnail }}">
        <div class="media-body">
            <h3 class="mt-0 mb-1">{{ item.title }}</h3>
            ${{ item.price }} ({{ item.currency_id }}). Cantidad disponible: {{ item.available_quantity }}. Vendidos: {{ item.sold_quantity }}.
            <a href="{{ item.permalink }}" target="_blank">Ver en Mercadolibre</a>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}
