{% extends "base.html" %}
{% load i18n staticfiles %}

{% block body %}

<div class="row justify-content-sm-center">
    <div class="col col-md-6 col">
        <p>El inicio de sesión lo realizás en el sitio de MercadoLibre. Nunca guardaremos tu contraseña.</p>
        <a href="{% url 'meli-login' %}" class="btn btn-light btn-block">Ir a MercadoLibre</a>
    </div>
</div>

{% endblock %}
